.App {
  text-align: center;
}

.App-table {
   margin-top: 100px;
   margin-left: 100px;
   margin-right: 100px
}

.action {
justify-content: center;
 align-items: center
}

.actionItem {
  height: 38px;
  width: 38px
}
.actionLabels{
  align-self: center;
  margin-top: 20px
}
.mainImage{
  height: 50px;
  width: 50px
}
.name{
  align-self:center;
  margin-top: 0;
}